@model IEnumerable<Examen01.Models.Examenes_Alumnos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alumnos.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Examenes.CodExamenes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alumnos.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Examenes.CodExamenes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
